<form class="form-inline" action="{{ path('search_articles') }}" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
    <button class="btn-outline-dark my-2 my-sm-0" type="submit">поиск</button>
</form>